<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container">
    <form th:action="@{/board/create}" th:object="${boardForm}" method="post">
      <h3 class="my-3">새 글 등록</h3>
      <div
        class="alert alert-danger"
        role="alert"
        th:if="${#fields.hasAnyErrors()}"
      >
        <div th:each="err: ${#fields.allErrors()}" th:text="${err}"></div>
      </div>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="basic-addon1">제 목</span>
        <input
          type="text"
          class="form-control"
          name="boardTitle"
          id="boardTitle"
          aria-label="Username"
          aria-describedby="basic-addon1"
        />
      </div>
      <div class="input-group input-group-sm">
        <span class="input-group-text">내 용</span>
        <textarea
          class="form-control"
          name="boardContent"
          id="boardContent"
          aria-label="With textarea"
          rows="10"
        ></textarea>
      </div>
      <div class="my-2 d-flex justify-content-end">
        <input type="submit" value="등록하기" class="btn btn-primary btn-sm" />
      </div>
    </form>
  </div>
</html>
