<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container">
    <h1 class="mt-4">사내 게시판</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item">
        <a th:href="@{/board/list}">사내 게시판</a>
      </li>
      <li class="breadcrumb-item active">글 등록</li>
    </ol>
    <div class="card mb-4">
      <div class="card-body">
        <form th:object="${boardForm}" method="post">
          <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
          />
          <!-- 상세 내용 -->
          <div class="two_third first" style="height: auto">
            <div class="col-lg-12">
              <div class="two_third first">
                <table class="table">
                  <tr>
                    <th width="10%" class="text-start" id="th-title-color">
                      제 목
                    </th>
                    <td>
                      <input
                        type="text"
                        name="boardTitle"
                        size="100"
                        class="input-sm"
                        id="boardTitle"
                      />
                    </td>
                  </tr>
                  <tr>
                    <th
                      width="10%"
                      class="text-start"
                      id="th-title-color"
                      name="boardContent"
                    >
                      내 용
                    </th>
                    <td>
                      <textarea
                        rows="10"
                        cols="100"
                        name="boardContent"
                        id="boardContent"
                      ></textarea>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2" class="text-end">
                      <div class="wrap">
                        <input
                          type="button"
                          value="목록"
                          class="button"
                          th:onclick="|location.href='@{/board/list}'|"
                        />
                        <input
                          type="submit"
                          value="등록"
                          class="button"
                          id="modBtn"
                        />
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <!-- 상세 내용 end -->
        </form>
        <!-- card-body -->
      </div>
    </div>
    <!-- container end -->
  </div>
</html>
