<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container-fluid px-4">
    <h1 class="mt-4">사내 게시판</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item">
        <a th:href="@{/dashboard/index}">Dashboard</a>
      </li>
      <li class="breadcrumb-item active">사내 게시판</li>
    </ol>
    <div class="card mb-4">
      <div class="card-body">
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>No</th>
              <th>Title</th>
              <th>Content</th>
              <th>writer</th>
              <th>ReadCnt</th>
              <th>CreatedDate</th>
              <!-- <th>Start date</th>
              <th>Salary</th> -->
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>No</th>
              <th>Title</th>
              <th>Content</th>
              <th>writer</th>
              <th>ReadCnt</th>
              <th>CreatedDate</th>
              <!-- <th>Start date</th>
              <th>Salary</th> -->
            </tr>
          </tfoot>
          <tbody>
            <tr th:each="board, status : ${boardList}">
              <td>
                <span th:text="${status.index + 1}"></span>
              </td>
              <td>
                <a th:href="@{|/board/detail/${board.id}|}">
                  <span
                    th:text="${#strings.length(board.title) > 10 ? #strings.substring(board.title, 0, 10) + '...' : board.title}"
                  ></span>
                </a>
              </td>
              <td>
                <span
                  th:text="${#strings.length(board.content) > 20 ? #strings.substring(board.content, 0, 20) + '...' : board.content}"
                ></span>
              </td>
              <td th:text="${board.empMaster.name}"></td>
              <td th:text="${board.readcnt}"></td>
              <td
                th:text="${#temporals.format(board.created, 'yyyy/MM/dd')}"
              ></td>

              <!-- <td>2011/04/25</td>
              <td>$320,800</td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-end m-3">
        <!-- <button
          type="button"
          class="btn btn-primary btn-sm"
          th:onclick="|location.href='@{/board/create}'|"
        >
          등 록
        </button> -->
        <div class="wrap">
          <input
            type="button"
            value="글 등록"
            class="button"
            th:onclick="|location.href='@{/board/create}'|"
          />
        </div>
      </div>
      <!--end::Footer-->
    </div>
  </div>
</html>
