<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container-fluid px-4">
    <h3 class="mt-4">마이페이지</h3>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">마이페이지</li>
    </ol>
    <div class="card mb-4">
      <div class="card-body">
        <!-- content start -->
        <div class="two_third first" style="height: auto">
          <div class="col-lg-12">
            <div class="two_third first">
              <table class="table">
                <tr>
                  <th class="text-center">
                    <img
                      src="https://www.w3schools.com/howto/img_avatar.png"
                      alt="avatar"
                      style="width: 64px; height: 64px"
                    />
                  </th>
                  <td colspan="5"><h3 class="my-1">user name</h3></td>
                </tr>
                <tr>
                  <th width="10%" class="text-start" id="th-title-color">
                    사 번
                  </th>
                  <td>data</td>
                  <th width="10%" class="text-start" id="th-title-color">
                    소 속
                  </th>
                  <td>data</td>
                  <th width="10%" class="text-start" id="th-title-color">
                    직 책
                  </th>
                  <td>data</td>
                </tr>
                <tr>
                  <th width="10%" class="text-start" id="th-title-color">
                    성명(한글)
                  </th>
                  <td>data</td>
                  <th width="10%" class="text-start" id="th-title-color">
                    성명(영문)
                  </th>
                  <td>data</td>
                  <th width="10%" class="text-start" id="th-title-color">
                    e-mail
                  </th>
                  <td>data</td>
                </tr>

                <tr>
                  <td colspan="7" class="text-end">
                    <div class="wrap">
                      <!-- <span>
                        <input
                          type="button"
                          value="수정"
                          class="modify"
                          id="modBtn"
                        />
                      </span> -->
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!-- content end -->
      </div>
    </div>
  </div>
</html>
