<html layout:decorate="~{layout_member}">
  <div layout:fragment="content" class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="card shadow-lg border-0 rounded-lg mt-5">
          <div class="card-header">
            <h3 class="text-center font-weight-light my-4">Login</h3>
          </div>
          <div class="card-body">
            <form th:action="@{/member/login}" method="post">
              <div
                class="alert alert-danger"
                role="alert"
                th:if="${param.error}"
              >
                사번 또는 비밀번호를 확인해 주세요.
              </div>
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  name="username"
                  id="username"
                  type="text"
                  placeholder="Employee Number"
                />
                <label for="inputEmpNo">Employee Number</label>
              </div>
              <div class="form-floating mb-3">
                <input
                  class="form-control"
                  name="password"
                  id="password"
                  type="password"
                  placeholder="Password"
                />
                <label for="inputPassword">Password</label>
              </div>
              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  id="inputRememberPassword"
                  type="checkbox"
                  value=""
                />
                <label class="form-check-label" for="inputRememberPassword"
                  >Remember Password</label
                >
              </div>
              <div
                class="d-flex align-items-center justify-content-between mt-4 mb-0"
              >
                <a class="small" href="#">Forgot Password?</a>
                <!-- <a class="btn btn-primary" href="index.html">Login</a> -->
                <input type="submit" value="Login" class="btn btn-primary" />
              </div>
            </form>
          </div>
          <div class="card-footer text-center py-3">
            <div class="small">
              <a th:href="@{/member/signup}">Need an account? Sign up!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</html>
